.hero-section {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.books-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.938rem;
  list-style: none;
}

.horizontal-divider {
  height: 0.125rem;
  background-color: #e8e8e8;
  width: 100%;
}
